.mask {
  position: fixed;
  padding: 20px 0;
  z-index: 999;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: none; }
  .mask .tOperator {
    padding: 0 15px; }
  .mask.show {
    display: block; }

.detailTop {
  background-color: #ce6d6d;
  padding: 18px 18px 0px; }
  .detailTop .topContent {
    display: flex;
    margin-top: 20px; }
    .detailTop .topContent .content {
      padding-bottom: 25px;
      flex: 1;
      color: #efd3d3;
      justify-content: center;
      flex-direction: column; }
      .detailTop .topContent .content .contentName {
        padding-top: 2px;
        width: 77px;
        height: 19px;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 700;
        color: #fff;
        line-height: 25px; }
      .detailTop .topContent .content .contentSecondName {
        margin-top: 9px;
        font-size: 9px; }
      .detailTop .topContent .content .class {
        margin-top: 9px;
        font-size: 9px; }
      .detailTop .topContent .content .CM {
        margin-top: 9px;
        font-size: 9px; }
      .detailTop .topContent .content .start {
        margin-top: 9px;
        font-size: 9px; }
        .detailTop .topContent .content .start span:nth-child(n+2) {
          margin-left: 3px; }
        .detailTop .topContent .content .start .colorDirection {
          display: inline-block;
          border-left-color: #efd3d3; }
    .detailTop .topContent .img {
      width: 103px;
      margin-left: 20px; }

.middleDetailModule {
  padding: 3px 25px; }
  .middleDetailModule .detailModule {
    padding: 14px 0; }
    .middleDetailModule .detailModule:nth-child(n+2) {
      border-top: 1px solid #ededed; }
    .middleDetailModule .detailModule.score {
      color: #000; }

.bottomBtn {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 55px;
  color: #fff;
  text-align: center;
  line-height: 55px;
  font-size: 16px;
  background-color: #ce6d6d;
  text-decoration: none; }
