.sliderHome {
  width: 100%;
  height: 0px;
  padding-bottom: 40%;
  position: relative; }
  .sliderHome .sliderWrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }

.movieItemWarpper {
  padding-bottom: 50px; }
  .movieItemWarpper .MovieItemHome {
    margin: 0 15px;
    display: block;
    padding: 15px 0;
    background-color: #fff;
    text-decoration: none; }
    .movieItemWarpper .MovieItemHome:nth-child(n+2) {
      border-top: 1px solid #ebebeb; }
