.tTag {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 4px;
  line-height: 20px; }

.pink {
  color: #ef6a79;
  border-color: #ef6a79; }

.blue {
  border-color: #5ba4e8;
  color: #5ba4e8; }

.tBtn {
  border: 0;
  background-color: deeppink;
  border-radius: 14px;
  height: 29px;
  width: 51px;
  text-align: center;
  line-height: 29px;
  font-size: 12px;
  color: #fff; }

.tOperator {
  display: flex;
  justify-content: space-between; }
  .tOperator .tOperator--setting {
    width: 20px;
    height: 20px;
    background: url("./../icons/setting.svg") 50%/contain no-repeat; }
  .tOperator .tOperator--message {
    width: 20px;
    height: 20px;
    background: url("./../icons/message.svg") 50%/contain no-repeat; }
  .tOperator .tOperator--back {
    width: 13px;
    height: 20px;
    background: url("./../icons/back.svg") 50%/contain no-repeat; }
  .tOperator .tOperator--share {
    width: 20px;
    height: 20px;
    background: url("./../icons/share.svg") 50%/contain no-repeat; }
  .tOperator .tOperator--blackBack {
    width: 20px;
    height: 20px;
    background: url("./../icons/back-black.svg") 50%/contain no-repeat; }
  .tOperator .tOperator--blackShare {
    width: 20px;
    height: 20px;
    background: url("./../icons/share-black.svg") 50%/contain no-repeat; }

.triangle {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border: 3px solid transparent; }
