.imageSlider{
    color: #fff;
    .sliderIndex{
        text-align: center;
    }
    .slider{
        height: 240px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .slick-list{
            height: 100%
        }
        .slider--dots{
            display: none!important;
        }
        // img{
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%,-50%);
        // }
    }

}
