.top{
    background-color:#777777;
    color:#fff;
    padding: 8px 8px 12px;;
    .userInfo{
        display: flex;
        padding: 8px 2px;
        .userimg{
            height: 70px;
            width: 70px;
            background-color: #ccc;
            border-radius: 50%;
            margin-right: 20px;
            // background:url('/souch')    
            background-size: cover;
        }
        .userContent{
            flex: 1;
            .name{
                font-size: 21px;
                font-weight: 700;
            }
            .FF{
                margin-top: 8px;
                font-size: 0;
                span{
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            .userLevel{
                padding: 2px 8px;
                width: 50px;
                background-color: #5a5e78;
                margin-top: 8px;
                font-size: 9px;
                text-align: center;
                border-radius: 10px;
            }
        }
    }
    
}
.middle{
    padding: 0 15px;
}